Django==5.2.12
boto3==1.43.97
dj-database-url==3.1.2
django-storages[s3]==1.14.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
openai==2.29.0
pydantic==2.12.5
pypdf==6.9.2
psycopg[binary]==3.3.6
python-dotenv==1.2.2
reportlab==4.4.10
